
<div class="container">
    <div>
        <h5 class="text-left"><strong>List of Tasks:</strong></h5>
        <span>
            <div  *ngFor="let task of response">
                <div class="card border-success mb-3">
                    <div class="card-columns" >
                      <div class="card-body">
                        <h6 class="card-title"><strong>Event ID:</strong>{{ task.id }} </h6>
                        <p class="card-text"><strong>Name :</strong> {{ task.taskname }} </p>
                        <p class="card-text"><strong>Created Date : </strong>{{ task.taskdate | date}} </p>
                        <p class="card-text"><strong>Created By : </strong>{{ task.taskby }} </p>
                        <div class="">
                            <a class="btn btn-warning" (click)="getTaskDetails(task.id)"  role="button"><strong>More..</strong></a>&nbsp;
                            <a class="btn btn-success" href="#" role="button"><strong>Update</strong></a>&nbsp;
                            <a class="btn btn-danger" (click)="deleteTask(task.id)"  role="button"><strong>Delete</strong></a>&nbsp;    
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </span>

    </div>
</div>
