<div class="container">
  <br>
  <h3 class="text-center"><u>Welcome to  TM System</u></h3>
  <br>
  <div class="card-columns">
      <div class="card-body">
        <a routerLink="events" class="btn btn-info" role="button"><strong>Events</strong></a> &nbsp;   
        <a routerLink="teams" class="btn btn-info" role="button"><strong>Teams</strong></a> &nbsp;   
        <a routerLink="tasks" class="btn btn-info" role="button"><strong>Tasks</strong></a>
      </div>
  </div>

  
  <br>
  <router-outlet></router-outlet>
</div>